In [25]:
import pandas as pd

In [26]:
still_andro = pd.read_csv('still_anrdosensor.csv')
walk_andro = pd.read_csv('walk_AndroSensor.csv')
required_fields = ['ACCELEROMETER X (m/s²)', 'ACCELEROMETER Y (m/s²)',
       'ACCELEROMETER Z (m/s²)', 'GYROSCOPE X (rad/s)', 'GYROSCOPE Y (rad/s)',
       'GYROSCOPE Z (rad/s)', 'MAGNETIC FIELD X (μT)', 'MAGNETIC FIELD Y (μT)',
       'MAGNETIC FIELD Z (μT)', 'LOCATION Latitude : ',
       'LOCATION Longitude : ', 'YYYY-MO-DD HH-MI-SS_SSS']

In [27]:
still_andro[required_fields].describe(include="all")

,ACCELEROMETER X (m/s²),ACCELEROMETER Y (m/s²),ACCELEROMETER Z (m/s²),GYROSCOPE X (rad/s),GYROSCOPE Y (rad/s),GYROSCOPE Z (rad/s),MAGNETIC FIELD X (μT),MAGNETIC FIELD Y (μT),MAGNETIC FIELD Z (μT),LOCATION Latitude :,LOCATION Longitude :,YYYY-MO-DD HH-MI-SS_SSS
count,1073.000000,1073.000000,1073.000000,1073.000000,1073.000000,1073.000000,1073.000000,1073.000000,1073.000000,1.073000e+03,1.073000e+03,1073
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1073
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-14 11:16:27:058
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,-0.485695,0.105238,9.689906,0.000692,0.002470,0.000631,1.366203,-30.161680,-42.098257,2.688124e+01,8.880416e+01,NaN
std,0.373657,0.640751,0.262520,0.081341,0.070154,0.051177,2.013832,1.585211,2.831517,4.514050e-13,2.843496e-13,NaN
min,-3.988129,-1.041504,4.326508,-1.176132,-0.896973,-0.867340,-14.691200,-41.391000,-50.756800,2.688124e+01,8.880416e+01,NaN
25%,-0.459076,-0.012009,9.699097,-0.000473,-0.000381,-0.000427,0.875900,-30.569500,-43.238800,2.688124e+01,8.880416e+01,NaN
50%,-0.435135,0.002365,9.713455,-0.000107,0.000015,0.000031,1.402300,-30.087300,-42.266800,2.688124e+01,8.880416e+01,NaN
75%,-0.411194,0.016724,9.732605,0.000320,0.000427,0.000565,1.930200,-29.373200,-41.313200,2.688124e+01,8.880416e+01,NaN
max,0.723648,4.742874,11.011108,1.922104,1.393158,0.468094,13.540700,-27.446000,-23.323100,2.688124e+01,8.880416e+01,NaN

In [28]:
walk_andro[required_fields].describe(include="all")

,ACCELEROMETER X (m/s²),ACCELEROMETER Y (m/s²),ACCELEROMETER Z (m/s²),GYROSCOPE X (rad/s),GYROSCOPE Y (rad/s),GYROSCOPE Z (rad/s),MAGNETIC FIELD X (μT),MAGNETIC FIELD Y (μT),MAGNETIC FIELD Z (μT),LOCATION Latitude :,LOCATION Longitude :,YYYY-MO-DD HH-MI-SS_SSS
count,774.000000,774.000000,774.000000,774.000000,774.000000,774.000000,774.000000,774.000000,774.000000,7.740000e+02,7.740000e+02,774
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,774
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-14 12:04:53:514
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,-0.774991,3.232677,8.136345,0.022807,0.073098,-0.027635,-0.579937,-7.210439,-37.158999,2.688120e+01,8.880450e+01,NaN
std,1.772323,3.352937,2.497530,0.521700,0.788514,0.673339,23.409218,26.059236,15.732587,3.235060e-13,1.208704e-12,NaN
min,-7.857162,-20.008377,-5.518463,-1.706238,-3.096527,-3.584701,-46.238700,-51.487700,-69.204700,2.688120e+01,8.880450e+01,NaN
25%,-1.626259,2.709008,7.270176,-0.232444,-0.270348,-0.417366,-19.793300,-28.453050,-47.994950,2.688120e+01,8.880450e+01,NaN
50%,-0.995377,3.914490,8.432557,0.000580,0.002167,-0.000122,-1.120750,-7.450850,-37.731200,2.688120e+01,8.880450e+01,NaN
75%,-0.101143,4.999058,9.582974,0.254291,0.327476,0.361366,17.613950,15.599800,-29.258750,2.688120e+01,8.880450e+01,NaN
max,9.797684,10.086731,15.761215,6.320267,10.181549,3.696823,46.104400,44.982900,38.729900,2.688120e+01,8.880450e+01,NaN

In [29]:
still_acc = pd.read_csv('still_accelerometer_data.csv')
still_gyro = pd.read_csv('still_gyroscope_data.csv')
still_mag = pd.read_csv('still_magnetometer_data.csv')
still_gps = pd.read_csv('still_GPS_LOG.csv')
walk_acc = pd.read_csv('walk_accelerometer_data.csv')
walk_gyro = pd.read_csv('walk_gyroscope_data.csv')
walk_mag = pd.read_csv('walk_magnetometer_data.csv')
walk_gps = pd.read_csv('walk_GPS_LOG.csv')

In [30]:
still_acc.describe(include="all")

                       time            x            y            z
count                  1073  1073.000000  1073.000000  1073.000000
unique                  537          NaN          NaN          NaN
top     14/06/2021 11:15:58          NaN          NaN          NaN
freq                      2          NaN          NaN          NaN
mean                    NaN    -0.485252     0.107907     9.713021
std                     NaN     0.358033     0.632287     0.183415
min                     NaN    -3.364012    -0.131902     8.269751
25%                     NaN    -0.447249    -0.006746     9.707727
50%                     NaN    -0.436076    -0.000990     9.714395
75%                     NaN    -0.424434     0.006962     9.728203
max                     NaN     1.058186     4.813987    10.006078

In [31]:
still_gyro.describe(include="all")

                       time            x            y            z
count                  1073  1073.000000  1073.000000  1073.000000
unique                  537          NaN          NaN          NaN
top     14/06/2021 11:15:58          NaN          NaN          NaN
freq                      2          NaN          NaN          NaN
mean                    NaN    -0.000872     0.000156     0.000124
std                     NaN     0.035727     0.025301     0.044318
min                     NaN    -0.620015    -0.459017    -0.856415
25%                     NaN    -0.000271    -0.000148    -0.000141
50%                     NaN    -0.000083     0.000004     0.000021
75%                     NaN     0.000086     0.000156     0.000181
max                     NaN     0.692637     0.331266     0.576839

In [32]:
still_mag.describe(include="all")

                       time            x            y            z
count                  1073  1073.000000  1073.000000  1073.000000
unique                  537          NaN          NaN          NaN
top     14/06/2021 11:15:58          NaN          NaN          NaN
freq                      2          NaN          NaN          NaN
mean                    NaN     1.380698   -30.252333   -42.144019
std                     NaN     1.966171     1.541434     2.767963
min                     NaN   -14.680542   -40.802429   -48.919868
25%                     NaN     0.875610   -30.420802   -43.119507
50%                     NaN     1.603271   -30.077942   -42.388428
75%                     NaN     1.919301   -29.712708   -41.551145
max                     NaN    13.392822   -27.697754   -23.849731

In [33]:
still_gps.describe(include="all")

                       time          lat         long
count                  1073  1073.000000  1073.000000
unique                  537          NaN          NaN
top     14/06/2021 11:15:58          NaN          NaN
freq                      2          NaN          NaN
mean                    NaN    26.881177    88.804305
std                     NaN     0.000017     0.000141
min                     NaN    26.881132    88.802212
25%                     NaN    26.881177    88.804327
50%                     NaN    26.881177    88.804342
75%                     NaN    26.881177    88.804343
max                     NaN    26.881310    88.804348

In [34]:
walk_acc.describe(include="all")

                       time           x           y           z
count                   774  774.000000  774.000000  774.000000
unique                  387         NaN         NaN         NaN
top     14/06/2021 12:06:42         NaN         NaN         NaN
freq                      2         NaN         NaN         NaN
mean                    NaN   -0.790360    3.223376    8.209064
std                     NaN    1.497473    3.244106    2.099077
min                     NaN   -5.944661  -11.218305   -4.149738
25%                     NaN   -1.562401    3.031252    8.013384
50%                     NaN   -0.948760    3.934120    8.638083
75%                     NaN   -0.207117    4.836938    9.268487
max                     NaN    8.253748    8.318221   11.693789

In [35]:
walk_gyro.describe(include="all")

                       time           x           y           z
count                   774  774.000000  774.000000  774.000000
unique                  387         NaN         NaN         NaN
top     14/06/2021 12:06:42         NaN         NaN         NaN
freq                      2         NaN         NaN         NaN
mean                    NaN    0.001954    0.022053   -0.018287
std                     NaN    0.297709    0.465296    0.556769
min                     NaN   -1.819014   -1.898088   -2.040282
25%                     NaN   -0.110812   -0.209527   -0.373904
50%                     NaN    0.000576   -0.000173   -0.000065
75%                     NaN    0.114945    0.218448    0.312945
max                     NaN    2.322622    2.828315    1.817097

In [36]:
walk_mag.describe(include="all")

                       time           x           y           z
count                   774  774.000000  774.000000  774.000000
unique                  387         NaN         NaN         NaN
top     14/06/2021 12:06:42         NaN         NaN         NaN
freq                      2         NaN         NaN         NaN
mean                    NaN   -0.593034   -7.150638  -37.282584
std                     NaN   23.224026   26.034055   15.522104
min                     NaN  -43.387573  -52.308400  -69.008871
25%                     NaN  -19.471978  -28.878531  -48.164841
50%                     NaN   -1.240932   -7.874664  -37.855104
75%                     NaN   18.042038   15.723175  -29.530090
max                     NaN   43.539551   41.310183   36.527771

In [37]:
walk_gps.describe(include="all")

                       time         lat        long
count                   774  774.000000  774.000000
unique                  387         NaN         NaN
top     14/06/2021 12:06:42         NaN         NaN
freq                      2         NaN         NaN
mean                    NaN   26.881204   88.804125
std                     NaN    0.000030    0.000030
min                     NaN   26.881152   88.804074
25%                     NaN   26.881182   88.804113
50%                     NaN   26.881197   88.804124
75%                     NaN   26.881231   88.804130
max                     NaN   26.881271   88.804503

In [38]:
from scipy.stats.stats import pearsonr

In [54]:
print("(No motion test)Type : (Pearson’s correlation coefficient, 2-tailed p-value)")
print("Accelerometer X :", pearsonr(still_andro['ACCELEROMETER X (m/s²)'], still_acc['x']))
print("Accelerometer Y :", pearsonr(still_andro['ACCELEROMETER Y (m/s²)'], still_acc['y']))
print("Accelerometer Z :", pearsonr(still_andro['ACCELEROMETER Z (m/s²)'], still_acc['z']))
print("Magnetometer X :", pearsonr(still_andro['MAGNETIC FIELD X (μT)'], still_mag['x']))
print("Magnetometer Y :", pearsonr(still_andro['MAGNETIC FIELD Y (μT)'], still_mag['y']))
print("Magnetometer Z :", pearsonr(still_andro['MAGNETIC FIELD Z (μT)'], still_mag['z']))
print("Gyroscope X :", pearsonr(still_andro['GYROSCOPE X (rad/s)'], still_gyro['x']))
print("Gyroscope Y :", pearsonr(still_andro['GYROSCOPE Y (rad/s)'], still_gyro['y']))
print("Gyroscope Z :", pearsonr(still_andro['GYROSCOPE Z (rad/s)'], still_gyro['z']))
print("GPS Lat :", pearsonr(still_andro['LOCATION Latitude : '], still_gps['lat']))
print("GPS Long :", pearsonr(still_andro['LOCATION Longitude : '], still_gps['long']))

(No motion test)Type : (Pearson’s correlation coefficient, 2-tailed p-value)
Accelerometer X : (0.9626662635718196, 0.0)
Accelerometer Y : (0.9901750959439285, 0.0)
Accelerometer Z : (0.6594571039648659, 6.871550153547101e-135)
Magnetometer X : (0.9810547421772012, 0.0)
Magnetometer Y : (0.9313798620844139, 0.0)
Magnetometer Z : (0.9346074953463877, 0.0)
Gyroscope X : (0.6438827382471719, 1.133612946039328e-126)
Gyroscope Y : (0.5918648686060883, 2.0906152999417024e-102)
Gyroscope Z : (0.8548640660056944, 1.847173823461053e-307)
GPS Lat : (nan, nan)
GPS Long : (nan, nan)

In [53]:
print("(Walking motion test)Type : (Pearson’s correlation coefficient, 2-tailed p-value)")
print("Accelerometer X :", pearsonr(walk_andro['ACCELEROMETER X (m/s²)'], walk_acc['x']))
print("Accelerometer Y :", pearsonr(walk_andro['ACCELEROMETER Y (m/s²)'], walk_acc['y']))
print("Accelerometer Z :", pearsonr(walk_andro['ACCELEROMETER Z (m/s²)'], walk_acc['z']))
print("Magnetometer X :", pearsonr(walk_andro['MAGNETIC FIELD X (μT)'], walk_mag['x']))
print("Magnetometer Y :", pearsonr(walk_andro['MAGNETIC FIELD Y (μT)'], walk_mag['y']))
print("Magnetometer Z :", pearsonr(walk_andro['MAGNETIC FIELD Z (μT)'], walk_mag['z']))
print("Gyroscope X :", pearsonr(walk_andro['GYROSCOPE X (rad/s)'], walk_gyro['x']))
print("Gyroscope Y :", pearsonr(walk_andro['GYROSCOPE Y (rad/s)'], walk_gyro['y']))
print("Gyroscope Z :", pearsonr(walk_andro['GYROSCOPE Z (rad/s)'], walk_gyro['z']))
print("GPS Lat :", pearsonr(walk_andro['LOCATION Latitude : '], walk_gps['lat']))
print("GPS Long :", pearsonr(walk_andro['LOCATION Longitude : '], walk_gps['long']))

(Walking motion test)Type : (Pearson’s correlation coefficient, 2-tailed p-value)
Accelerometer X : (0.806645720177279, 1.7240372023933254e-178)
Accelerometer Y : (0.9496699110122765, 0.0)
Accelerometer Z : (0.7746746713024516, 8.184672932583968e-156)
Magnetometer X : (0.9865005641989717, 0.0)
Magnetometer Y : (0.992398974028754, 0.0)
Magnetometer Z : (0.972483008121698, 0.0)
Gyroscope X : (0.4460659260865323, 4.109456161484863e-39)
Gyroscope Y : (0.5460118246280893, 2.3703676742562484e-61)
Gyroscope Z : (0.7491780535379912, 2.964803270282553e-140)
GPS Lat : (nan, nan)
GPS Long : (nan, nan)